div.css-1r6slb0.e1tzin5v2{
    
    font-family: 'Roboto';
    font-size: 1.5em;
    font-weight: 700;
    background-color: #EEEEEE;
    border: 2px solid #ac4f4f;
    padding: 5% 5% 5% 10%;
    border-radius: 20px;
}
div.block-containercss-12oz5g7.egzxvld2{
    width: 50%;
    max-width: 100em;
    background-color: #7a1313;

}
